<div class="app-media">
    <div class="page bg-white animsition" style="animation-duration: 800ms; opacity: 1;">
        <!-- Media Content -->
        <div class="page-main">
            <!-- Media Content Header -->
            <div class="page-header">
                <h1 class="page-title">Category 1</h1>
                <div class="page-header-actions">
                    <form>
                        <div class="input-search input-search-dark">
                            <i class="input-search-icon md-search" aria-hidden="true"></i>
                            <input type="text" class="form-control" name="" placeholder="Search...">
                        </div>
                    </form>
                </div>
            </div>
            <!-- Media Content -->
            <div class="page-content page-content-table" data-selectable="selectable">
                <!-- Actions -->
                <div class="page-content-actions">
                    <div class="pull-right">
                        <div class="btn-group media-arrangement" role="group">
                            <button class="btn btn-default active waves-effect waves-light" id="arrangement-grid" type="button"><i class="icon md-view-module" aria-hidden="true"></i></button>
                            <button class="btn btn-default waves-effect waves-light" id="arrangement-list" type="button"><i class="icon md-view-list" aria-hidden="true"></i></button>
                        </div>
                    </div>
                    <div class="actions-inner">
                        <div class="checkbox-custom checkbox-primary checkbox-lg">
                            <input type="checkbox" id="media_all" class="selectable-all">
                            <label for="media_all"></label>
                        </div>
                    </div>
                </div>
                <!-- Media -->
                <div class="media-list is-grid padding-bottom-50">
                    <ul class="blocks blocks-100 blocks-xlg-5 blocks-lg-5 blocks-md-5 blocks-ms-3 blocks-xs-2" data-plugin="animateList" data-child=">li">
                        <li class="animation-scale-up" style="animation-fill-mode: backwards; animation-duration: 250ms; animation-delay: 0ms;">
                            <div class="media-item" data-toggle="slidePanel" data-url="panel.tpl">
                                <div class="checkbox-custom checkbox-primary checkbox-lg">
                                    <input type="checkbox" class="selectable-item" id="media_1">
                                    <label for="media_1"></label>
                                </div>
                                <div class="image-wrap">
                                    <img class="image img-rounded" src="../assets/photos/placeholder.png" alt="...">
                                </div>
                                <div class="info-wrap">
                                    <div class="dropdown">
                                        <span class="icon md-settings dropdown-toggle" role="button" data-toggle="dropdown" data-animation="scale-up"></span>
                                        <ul class="dropdown-menu dropdown-menu-right" role="menu">
                                            <li><a href="javascript:void(0)"><i class="icon md-edit" aria-hidden="true"></i>Edit</a></li>
                                            <li><a href="javascript:void(0)"><i class="icon md-download" aria-hidden="true"></i>Download</a></li>
                                            <li><a href="javascript:void(0)"><i class="icon md-delete" aria-hidden="true"></i>Delete</a></li>
                                        </ul>
                                    </div>
                                    <div class="title">Lorem ipsum</div>
                                    <div class="time">1 minutes ago</div>
                                    <div class="media-item-actions btn-group">
                                        <button class="btn btn-icon btn-pure btn-default waves-effect waves-classic" data-original-title="Edit" data-toggle="tooltip" data-container="body" data-placement="top" data-trigger="hover" type="button">
                                            <i class="icon md-edit" aria-hidden="true"></i>
                                        </button>
                                        <button class="btn btn-icon btn-pure btn-default waves-effect waves-classic" data-original-title="Download" data-toggle="tooltip" data-container="body" data-placement="top" data-trigger="hover" type="button">
                                            <i class="icon md-download" aria-hidden="true"></i>
                                        </button>
                                        <button class="btn btn-icon btn-pure btn-default waves-effect waves-classic" data-original-title="Delete" data-toggle="tooltip" data-container="body" data-placement="top" data-trigger="hover" type="button">
                                            <i class="icon md-delete" aria-hidden="true"></i>
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li class="animation-scale-up" style="animation-fill-mode: backwards; animation-duration: 250ms; animation-delay: 50ms;">
                            <div class="media-item" data-toggle="slidePanel" data-url="panel.tpl">
                                <div class="checkbox-custom checkbox-primary checkbox-lg">
                                    <input type="checkbox" class="selectable-item" id="media_2">
                                    <label for="media_2"></label>
                                </div>
                                <div class="image-wrap">
                                    <img class="image img-rounded" src="../assets/photos/placeholder.png" alt="...">
                                </div>
                                <div class="info-wrap">
                                    <div class="dropdown">
                                        <span class="icon md-settings dropdown-toggle" role="button" data-toggle="dropdown" data-animation="scale-up"></span>
                                        <ul class="dropdown-menu dropdown-menu-right" role="menu">
                                            <li><a href="javascript:void(0)"><i class="icon md-edit" aria-hidden="true"></i>Edit</a></li>
                                            <li><a href="javascript:void(0)"><i class="icon md-download" aria-hidden="true"></i>Download</a></li>
                                            <li><a href="javascript:void(0)"><i class="icon md-delete" aria-hidden="true"></i>Delete</a></li>
                                        </ul>
                                    </div>
                                    <div class="title">Voluptate pariatur</div>
                                    <div class="time">20 minutes ago</div>
                                    <div class="media-item-actions btn-group">
                                        <button class="btn btn-icon btn-pure btn-default waves-effect waves-classic" data-original-title="Edit" data-toggle="tooltip" data-container="body" data-placement="top" data-trigger="hover" type="button">
                                            <i class="icon md-edit" aria-hidden="true"></i>
                                        </button>
                                        <button class="btn btn-icon btn-pure btn-default waves-effect waves-classic" data-original-title="Download" data-toggle="tooltip" data-container="body" data-placement="top" data-trigger="hover" type="button">
                                            <i class="icon md-download" aria-hidden="true"></i>
                                        </button>
                                        <button class="btn btn-icon btn-pure btn-default waves-effect waves-classic" data-original-title="Delete" data-toggle="tooltip" data-container="body" data-placement="top" data-trigger="hover" type="button">
                                            <i class="icon md-delete" aria-hidden="true"></i>
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li class="animation-scale-up" style="animation-fill-mode: backwards; animation-duration: 250ms; animation-delay: 100ms;">
                            <div class="media-item" data-toggle="slidePanel" data-url="panel.tpl">
                                <div class="checkbox-custom checkbox-primary checkbox-lg">
                                    <input type="checkbox" class="selectable-item" id="media_3">
                                    <label for="media_3"></label>
                                </div>
                                <div class="image-wrap">
                                    <img class="image img-rounded" src="../assets/photos/placeholder.png" alt="...">
                                </div>
                                <div class="info-wrap">
                                    <div class="dropdown">
                                        <span class="icon md-settings dropdown-toggle" role="button" data-toggle="dropdown" data-animation="scale-up"></span>
                                        <ul class="dropdown-menu dropdown-menu-right" role="menu">
                                            <li><a href="javascript:void(0)"><i class="icon md-edit" aria-hidden="true"></i>Edit</a></li>
                                            <li><a href="javascript:void(0)"><i class="icon md-download" aria-hidden="true"></i>Download</a></li>
                                            <li><a href="javascript:void(0)"><i class="icon md-delete" aria-hidden="true"></i>Delete</a></li>
                                        </ul>
                                    </div>
                                    <div class="title">Laboris Excepteur</div>
                                    <div class="time">1 hour ago</div>
                                    <div class="media-item-actions btn-group">
                                        <button class="btn btn-icon btn-pure btn-default waves-effect waves-classic" data-original-title="Edit" data-toggle="tooltip" data-container="body" data-placement="top" data-trigger="hover" type="button">
                                            <i class="icon md-edit" aria-hidden="true"></i>
                                        </button>
                                        <button class="btn btn-icon btn-pure btn-default waves-effect waves-classic" data-original-title="Download" data-toggle="tooltip" data-container="body" data-placement="top" data-trigger="hover" type="button">
                                            <i class="icon md-download" aria-hidden="true"></i>
                                        </button>
                                        <button class="btn btn-icon btn-pure btn-default waves-effect waves-classic" data-original-title="Delete" data-toggle="tooltip" data-container="body" data-placement="top" data-trigger="hover" type="button">
                                            <i class="icon md-delete" aria-hidden="true"></i>
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li class="animation-scale-up" style="animation-fill-mode: backwards; animation-duration: 250ms; animation-delay: 150ms;">
                            <div class="media-item" data-toggle="slidePanel" data-url="panel.tpl">
                                <div class="checkbox-custom checkbox-primary checkbox-lg">
                                    <input type="checkbox" class="selectable-item" id="media_4">
                                    <label for="media_4"></label>
                                </div>
                                <div class="image-wrap">
                                    <img class="image img-rounded" src="../assets/photos/placeholder.png" alt="...">
                                </div>
                                <div class="info-wrap">
                                    <div class="dropdown">
                                        <span class="icon md-settings dropdown-toggle" role="button" data-toggle="dropdown" data-animation="scale-up"></span>
                                        <ul class="dropdown-menu dropdown-menu-right" role="menu">
                                            <li><a href="javascript:void(0)"><i class="icon md-edit" aria-hidden="true"></i>Edit</a></li>
                                            <li><a href="javascript:void(0)"><i class="icon md-download" aria-hidden="true"></i>Download</a></li>
                                            <li><a href="javascript:void(0)"><i class="icon md-delete" aria-hidden="true"></i>Delete</a></li>
                                        </ul>
                                    </div>
                                    <div class="title">Consequat ullamco</div>
                                    <div class="time">3 hours ago</div>
                                    <div class="media-item-actions btn-group">
                                        <button class="btn btn-icon btn-pure btn-default waves-effect waves-classic" data-original-title="Edit" data-toggle="tooltip" data-container="body" data-placement="top" data-trigger="hover" type="button">
                                            <i class="icon md-edit" aria-hidden="true"></i>
                                        </button>
                                        <button class="btn btn-icon btn-pure btn-default waves-effect waves-classic" data-original-title="Download" data-toggle="tooltip" data-container="body" data-placement="top" data-trigger="hover" type="button">
                                            <i class="icon md-download" aria-hidden="true"></i>
                                        </button>
                                        <button class="btn btn-icon btn-pure btn-default waves-effect waves-classic" data-original-title="Delete" data-toggle="tooltip" data-container="body" data-placement="top" data-trigger="hover" type="button">
                                            <i class="icon md-delete" aria-hidden="true"></i>
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li class="animation-scale-up" style="animation-fill-mode: backwards; animation-duration: 250ms; animation-delay: 200ms;">
                            <div class="media-item" data-toggle="slidePanel" data-url="panel.tpl">
                                <div class="checkbox-custom checkbox-primary checkbox-lg">
                                    <input type="checkbox" class="selectable-item" id="media_5">
                                    <label for="media_5"></label>
                                </div>
                                <div class="image-wrap">
                                    <img class="image img-rounded" src="../assets/photos/placeholder.png" alt="...">
                                </div>
                                <div class="info-wrap">
                                    <div class="dropdown">
                                        <span class="icon md-settings dropdown-toggle" role="button" data-toggle="dropdown" data-animation="scale-up"></span>
                                        <ul class="dropdown-menu dropdown-menu-right" role="menu">
                                            <li><a href="javascript:void(0)"><i class="icon md-edit" aria-hidden="true"></i>Edit</a></li>
                                            <li><a href="javascript:void(0)"><i class="icon md-download" aria-hidden="true"></i>Download</a></li>
                                            <li><a href="javascript:void(0)"><i class="icon md-delete" aria-hidden="true"></i>Delete</a></li>
                                        </ul>
                                    </div>
                                    <div class="title">Eiusmod amet</div>
                                    <div class="time">7 hours ago</div>
                                    <div class="media-item-actions btn-group">
                                        <button class="btn btn-icon btn-pure btn-default waves-effect waves-classic" data-original-title="Edit" data-toggle="tooltip" data-container="body" data-placement="top" data-trigger="hover" type="button">
                                            <i class="icon md-edit" aria-hidden="true"></i>
                                        </button>
                                        <button class="btn btn-icon btn-pure btn-default waves-effect waves-classic" data-original-title="Download" data-toggle="tooltip" data-container="body" data-placement="top" data-trigger="hover" type="button">
                                            <i class="icon md-download" aria-hidden="true"></i>
                                        </button>
                                        <button class="btn btn-icon btn-pure btn-default waves-effect waves-classic" data-original-title="Delete" data-toggle="tooltip" data-container="body" data-placement="top" data-trigger="hover" type="button">
                                            <i class="icon md-delete" aria-hidden="true"></i>
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li class="animation-scale-up" style="animation-fill-mode: backwards; animation-duration: 250ms; animation-delay: 250ms;">
                            <div class="media-item" data-toggle="slidePanel" data-url="panel.tpl">
                                <div class="checkbox-custom checkbox-primary checkbox-lg">
                                    <input type="checkbox" class="selectable-item" id="media_6">
                                    <label for="media_6"></label>
                                </div>
                                <div class="image-wrap">
                                    <img class="image img-rounded" src="../assets/photos/placeholder.png" alt="...">
                                </div>
                                <div class="info-wrap">
                                    <div class="dropdown">
                                        <span class="icon md-settings dropdown-toggle" role="button" data-toggle="dropdown" data-animation="scale-up"></span>
                                        <ul class="dropdown-menu dropdown-menu-right" role="menu">
                                            <li><a href="javascript:void(0)"><i class="icon md-edit" aria-hidden="true"></i>Edit</a></li>
                                            <li><a href="javascript:void(0)"><i class="icon md-download" aria-hidden="true"></i>Download</a></li>
                                            <li><a href="javascript:void(0)"><i class="icon md-delete" aria-hidden="true"></i>Delete</a></li>
                                        </ul>
                                    </div>
                                    <div class="title">ullamco quis</div>
                                    <div class="time">16 hours ago</div>
                                    <div class="media-item-actions btn-group">
                                        <button class="btn btn-icon btn-pure btn-default waves-effect waves-classic" data-original-title="Edit" data-toggle="tooltip" data-container="body" data-placement="top" data-trigger="hover" type="button">
                                            <i class="icon md-edit" aria-hidden="true"></i>
                                        </button>
                                        <button class="btn btn-icon btn-pure btn-default waves-effect waves-classic" data-original-title="Download" data-toggle="tooltip" data-container="body" data-placement="top" data-trigger="hover" type="button">
                                            <i class="icon md-download" aria-hidden="true"></i>
                                        </button>
                                        <button class="btn btn-icon btn-pure btn-default waves-effect waves-classic" data-original-title="Delete" data-toggle="tooltip" data-container="body" data-placement="top" data-trigger="hover" type="button">
                                            <i class="icon md-delete" aria-hidden="true"></i>
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li class="animation-scale-up" style="animation-fill-mode: backwards; animation-duration: 250ms; animation-delay: 300ms;">
                            <div class="media-item" data-toggle="slidePanel" data-url="panel.tpl">
                                <div class="checkbox-custom checkbox-primary checkbox-lg">
                                    <input type="checkbox" class="selectable-item" id="media_7">
                                    <label for="media_7"></label>
                                </div>
                                <div class="image-wrap">
                                    <img class="image img-rounded" src="../assets/photos/placeholder.png" alt="...">
                                </div>
                                <div class="info-wrap">
                                    <div class="dropdown">
                                        <span class="icon md-settings dropdown-toggle" role="button" data-toggle="dropdown" data-animation="scale-up"></span>
                                        <ul class="dropdown-menu dropdown-menu-right" role="menu">
                                            <li><a href="javascript:void(0)"><i class="icon md-edit" aria-hidden="true"></i>Edit</a></li>
                                            <li><a href="javascript:void(0)"><i class="icon md-download" aria-hidden="true"></i>Download</a></li>
                                            <li><a href="javascript:void(0)"><i class="icon md-delete" aria-hidden="true"></i>Delete</a></li>
                                        </ul>
                                    </div>
                                    <div class="title">Reprehenderit</div>
                                    <div class="time">1 day ago</div>
                                    <div class="media-item-actions btn-group">
                                        <button class="btn btn-icon btn-pure btn-default waves-effect waves-classic" data-original-title="Edit" data-toggle="tooltip" data-container="body" data-placement="top" data-trigger="hover" type="button">
                                            <i class="icon md-edit" aria-hidden="true"></i>
                                        </button>
                                        <button class="btn btn-icon btn-pure btn-default waves-effect waves-classic" data-original-title="Download" data-toggle="tooltip" data-container="body" data-placement="top" data-trigger="hover" type="button">
                                            <i class="icon md-download" aria-hidden="true"></i>
                                        </button>
                                        <button class="btn btn-icon btn-pure btn-default waves-effect waves-classic" data-original-title="Delete" data-toggle="tooltip" data-container="body" data-placement="top" data-trigger="hover" type="button">
                                            <i class="icon md-delete" aria-hidden="true"></i>
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li class="animation-scale-up" style="animation-fill-mode: backwards; animation-duration: 250ms; animation-delay: 350ms;">
                            <div class="media-item" data-toggle="slidePanel" data-url="panel.tpl">
                                <div class="checkbox-custom checkbox-primary checkbox-lg">
                                    <input type="checkbox" class="selectable-item" id="media_8">
                                    <label for="media_8"></label>
                                </div>
                                <div class="image-wrap">
                                    <img class="image img-rounded" src="../assets/photos/placeholder.png" alt="...">
                                </div>
                                <div class="info-wrap">
                                    <div class="dropdown">
                                        <span class="icon md-settings dropdown-toggle" role="button" data-toggle="dropdown" data-animation="scale-up"></span>
                                        <ul class="dropdown-menu dropdown-menu-right" role="menu">
                                            <li><a href="javascript:void(0)"><i class="icon md-edit" aria-hidden="true"></i>Edit</a></li>
                                            <li><a href="javascript:void(0)"><i class="icon md-download" aria-hidden="true"></i>Download</a></li>
                                            <li><a href="javascript:void(0)"><i class="icon md-delete" aria-hidden="true"></i>Delete</a></li>
                                        </ul>
                                    </div>
                                    <div class="title">Ullamco fugiat</div>
                                    <div class="time">2 days ago</div>
                                    <div class="media-item-actions btn-group">
                                        <button class="btn btn-icon btn-pure btn-default waves-effect waves-classic" data-original-title="Edit" data-toggle="tooltip" data-container="body" data-placement="top" data-trigger="hover" type="button">
                                            <i class="icon md-edit" aria-hidden="true"></i>
                                        </button>
                                        <button class="btn btn-icon btn-pure btn-default waves-effect waves-classic" data-original-title="Download" data-toggle="tooltip" data-container="body" data-placement="top" data-trigger="hover" type="button">
                                            <i class="icon md-download" aria-hidden="true"></i>
                                        </button>
                                        <button class="btn btn-icon btn-pure btn-default waves-effect waves-classic" data-original-title="Delete" data-toggle="tooltip" data-container="body" data-placement="top" data-trigger="hover" type="button">
                                            <i class="icon md-delete" aria-hidden="true"></i>
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li class="animation-scale-up" style="animation-fill-mode: backwards; animation-duration: 250ms; animation-delay: 400ms;">
                            <div class="media-item" data-toggle="slidePanel" data-url="panel.tpl">
                                <div class="checkbox-custom checkbox-primary checkbox-lg">
                                    <input type="checkbox" class="selectable-item" id="media_9">
                                    <label for="media_9"></label>
                                </div>
                                <div class="image-wrap">
                                    <img class="image img-rounded" src="../assets/photos/placeholder.png" alt="...">
                                </div>
                                <div class="info-wrap">
                                    <div class="dropdown">
                                        <span class="icon md-settings dropdown-toggle" role="button" data-toggle="dropdown" data-animation="scale-up"></span>
                                        <ul class="dropdown-menu dropdown-menu-right" role="menu">
                                            <li><a href="javascript:void(0)"><i class="icon md-edit" aria-hidden="true"></i>Edit</a></li>
                                            <li><a href="javascript:void(0)"><i class="icon md-download" aria-hidden="true"></i>Download</a></li>
                                            <li><a href="javascript:void(0)"><i class="icon md-delete" aria-hidden="true"></i>Delete</a></li>
                                        </ul>
                                    </div>
                                    <div class="title">Dolor veniam</div>
                                    <div class="time">3 days ago</div>
                                    <div class="media-item-actions btn-group">
                                        <button class="btn btn-icon btn-pure btn-default waves-effect waves-classic" data-original-title="Edit" data-toggle="tooltip" data-container="body" data-placement="top" data-trigger="hover" type="button">
                                            <i class="icon md-edit" aria-hidden="true"></i>
                                        </button>
                                        <button class="btn btn-icon btn-pure btn-default waves-effect waves-classic" data-original-title="Download" data-toggle="tooltip" data-container="body" data-placement="top" data-trigger="hover" type="button">
                                            <i class="icon md-download" aria-hidden="true"></i>
                                        </button>
                                        <button class="btn btn-icon btn-pure btn-default waves-effect waves-classic" data-original-title="Delete" data-toggle="tooltip" data-container="body" data-placement="top" data-trigger="hover" type="button">
                                            <i class="icon md-delete" aria-hidden="true"></i>
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li class="animation-scale-up" style="animation-fill-mode: backwards; animation-duration: 250ms; animation-delay: 450ms;">
                            <div class="media-item" data-toggle="slidePanel" data-url="panel.tpl">
                                <div class="checkbox-custom checkbox-primary checkbox-lg">
                                    <input type="checkbox" class="selectable-item" id="media_10">
                                    <label for="media_10"></label>
                                </div>
                                <div class="image-wrap">
                                    <img class="image img-rounded" src="../assets/photos/placeholder.png" alt="...">
                                </div>
                                <div class="info-wrap">
                                    <div class="dropdown">
                                        <span class="icon md-settings dropdown-toggle" role="button" data-toggle="dropdown" data-animation="scale-up"></span>
                                        <ul class="dropdown-menu dropdown-menu-right" role="menu">
                                            <li><a href="javascript:void(0)"><i class="icon md-edit" aria-hidden="true"></i>Edit</a></li>
                                            <li><a href="javascript:void(0)"><i class="icon md-download" aria-hidden="true"></i>Download</a></li>
                                            <li><a href="javascript:void(0)"><i class="icon md-delete" aria-hidden="true"></i>Delete</a></li>
                                        </ul>
                                    </div>
                                    <div class="title">Minim officia</div>
                                    <div class="time">7 days ago</div>
                                    <div class="media-item-actions btn-group">
                                        <button class="btn btn-icon btn-pure btn-default waves-effect waves-classic" data-original-title="Edit" data-toggle="tooltip" data-container="body" data-placement="top" data-trigger="hover" type="button">
                                            <i class="icon md-edit" aria-hidden="true"></i>
                                        </button>
                                        <button class="btn btn-icon btn-pure btn-default waves-effect waves-classic" data-original-title="Download" data-toggle="tooltip" data-container="body" data-placement="top" data-trigger="hover" type="button">
                                            <i class="icon md-download" aria-hidden="true"></i>
                                        </button>
                                        <button class="btn btn-icon btn-pure btn-default waves-effect waves-classic" data-original-title="Delete" data-toggle="tooltip" data-container="body" data-placement="top" data-trigger="hover" type="button">
                                            <i class="icon md-delete" aria-hidden="true"></i>
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li class="animation-scale-up" style="animation-fill-mode: backwards; animation-duration: 250ms; animation-delay: 500ms;">
                            <div class="media-item" data-toggle="slidePanel" data-url="panel.tpl">
                                <div class="checkbox-custom checkbox-primary checkbox-lg">
                                    <input type="checkbox" class="selectable-item" id="media_11">
                                    <label for="media_11"></label>
                                </div>
                                <div class="image-wrap">
                                    <img class="image img-rounded" src="../assets/photos/placeholder.png" alt="...">
                                </div>
                                <div class="info-wrap">
                                    <div class="dropdown">
                                        <span class="icon md-settings dropdown-toggle" role="button" data-toggle="dropdown" data-animation="scale-up"></span>
                                        <ul class="dropdown-menu dropdown-menu-right" role="menu">
                                            <li><a href="javascript:void(0)"><i class="icon md-edit" aria-hidden="true"></i>Edit</a></li>
                                            <li><a href="javascript:void(0)"><i class="icon md-download" aria-hidden="true"></i>Download</a></li>
                                            <li><a href="javascript:void(0)"><i class="icon md-delete" aria-hidden="true"></i>Delete</a></li>
                                        </ul>
                                    </div>
                                    <div class="title">cupidatat fugiat</div>
                                    <div class="time">1 week ago</div>
                                    <div class="media-item-actions btn-group">
                                        <button class="btn btn-icon btn-pure btn-default waves-effect waves-classic" data-original-title="Edit" data-toggle="tooltip" data-container="body" data-placement="top" data-trigger="hover" type="button">
                                            <i class="icon md-edit" aria-hidden="true"></i>
                                        </button>
                                        <button class="btn btn-icon btn-pure btn-default waves-effect waves-classic" data-original-title="Download" data-toggle="tooltip" data-container="body" data-placement="top" data-trigger="hover" type="button">
                                            <i class="icon md-download" aria-hidden="true"></i>
                                        </button>
                                        <button class="btn btn-icon btn-pure btn-default waves-effect waves-classic" data-original-title="Delete" data-toggle="tooltip" data-container="body" data-placement="top" data-trigger="hover" type="button">
                                            <i class="icon md-delete" aria-hidden="true"></i>
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li class="animation-scale-up" style="animation-fill-mode: backwards; animation-duration: 250ms; animation-delay: 550ms;">
                            <div class="media-item" data-toggle="slidePanel" data-url="panel.tpl">
                                <div class="checkbox-custom checkbox-primary checkbox-lg">
                                    <input type="checkbox" class="selectable-item" id="media_12">
                                    <label for="media_12"></label>
                                </div>
                                <div class="image-wrap">
                                    <img class="image img-rounded" src="../assets/photos/placeholder.png" alt="...">
                                </div>
                                <div class="info-wrap">
                                    <div class="dropdown">
                                        <span class="icon md-settings dropdown-toggle" role="button" data-toggle="dropdown" data-animation="scale-up"></span>
                                        <ul class="dropdown-menu dropdown-menu-right" role="menu">
                                            <li><a href="javascript:void(0)"><i class="icon md-edit" aria-hidden="true"></i>Edit</a></li>
                                            <li><a href="javascript:void(0)"><i class="icon md-download" aria-hidden="true"></i>Download</a></li>
                                            <li><a href="javascript:void(0)"><i class="icon md-delete" aria-hidden="true"></i>Delete</a></li>
                                        </ul>
                                    </div>
                                    <div class="title">Fugiat nisi</div>
                                    <div class="time">2 weeks ago</div>
                                    <div class="media-item-actions btn-group">
                                        <button class="btn btn-icon btn-pure btn-default waves-effect waves-classic" data-original-title="Edit" data-toggle="tooltip" data-container="body" data-placement="top" data-trigger="hover" type="button">
                                            <i class="icon md-edit" aria-hidden="true"></i>
                                        </button>
                                        <button class="btn btn-icon btn-pure btn-default waves-effect waves-classic" data-original-title="Download" data-toggle="tooltip" data-container="body" data-placement="top" data-trigger="hover" type="button">
                                            <i class="icon md-download" aria-hidden="true"></i>
                                        </button>
                                        <button class="btn btn-icon btn-pure btn-default waves-effect waves-classic" data-original-title="Delete" data-toggle="tooltip" data-container="body" data-placement="top" data-trigger="hover" type="button">
                                            <i class="icon md-delete" aria-hidden="true"></i>
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>