<!DOCTYPE html>
<div class="side-panel">
    <div class="content" ng-if="!showPlan">
       <h4>{{message}}</h4>
    </div>
    <div class="content" ng-if="showPlan">
        <header class="side-panel-header">
            <div class="overlay-panel overlay-background">
                <div class="side-panel-actions btn-group btn-group-flat" aria-label="actions" role="group">
                    <button type="button" class="btn btn-pure btn-inverse icon md-chevron-left" aria-hidden="true"></button>
                    <button type="button" class="btn btn-pure btn-inverse icon md-chevron-right" aria-hidden="true"></button>
                    <button type="button" class="btn btn-pure btn-inverse icon md-close" ui-sref="app.home"
                            aria-hidden="true"></button>
                </div>
                <h4>{{plan.title}}</h4>
            </div>
        </header>
        <div class="side-panel-inner">
            <div class="detail-photo" style="background-image: url('../assets/photos/placeholder.png');"></div>
        </div>
        <div class="side-panel-inner">
            <section class="side-panel-inner-section">
                <div class="media-header">
                    <div class="row row-height-category">
                        <div class="col-xs-12">
                            <div class="row">
                                <div class="col-xs-6">
                                    <h5>분류</h5>
                                    <span class="label label-danger">{{plan.category}}</span>&ensp;
                                    <span class="label label-primary">{{plan.category}}</span></h5>
                                    <p class="margin-top-10">&ensp;{{plan.download}} 명이 다운로드 했습니다.</p>
                                </div>
                                <div class="col-xs-6">
                                    <h5>작성자</h5>
                                    <div class="avatar">
                                        <img ng-src="{{plan.postedBy.picture}}">
                                        <strong class="star-text-size">{{plan.postedBy.name}}
                                    </strong>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row row-height-category">
                        <div class="col-xs-12">
                            <h5>별점</h5>
                            <div class="row">
                                <div class="col-xs-7 col-md-4">
                                <input-stars max="5" ng-model="stars" ng-attr-readonly="true"></input-stars> 
                                <strong class="star-text-size">{{stars}} / 5.0</strong>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
                <div class="media-content">
                    <h5>설명</h5>
                    <p>{{plan.description}} </p>
                </div>
            </section>
            <!-- for comments -->
            <section class="side-panel-inner-section">
                <h5>리뷰</h5>
                <ul class="media-list">
                    <li class="media" ng-repeat="cmt in plan.comments">
                        <div class="media-header">
                            <div class="pull-right">
                                <div class="time">{{cmt.createdAt|date:'yyyy. MM. dd'}}</div>
                            </div>
                            <a class="avatar margin-right-10">
                                <img ng-src="{{cmt.postedBy.picture}}" alt="...">
                            </a>
                            <span class="name">{{cmt.postedBy.name}}</span>
                        </div>
                        <div class="media-content margin-top-10">
                            <p>{{cmt.comment}} </p>
                        </div>
                    </li>
                </ul>
            </section>
            <div class="side-panel-comment">
                <h5>이 플랜을 평가해주세요!</h5>
                <label class="checkbox-inline">
                            <input type="checkbox" ng-model="ratingOnly">
                            <strong>리뷰는 쓰지 않을래요!</strong>
                </label>
                <form ng-submit="submitComment()">
                    <div class="form-group">
                        <input-stars max="5" ng-model="rating.rating"></input-stars>
                        <strong class="star-text-size">{{rating.rating}}.0 / 5.0</strong>
                        <textarea class="maxlength-textarea form-control mb-sm margin-bottom-20" rows="4" ng-model="feedback.comment" ng-if="!ratingOnly"></textarea>
                    </div>
                                            <button class="btn btn-primary" type="submit">제출</button>
                </form>
            </div>
        </div>
    </div>
    <div class="background" ng-click="goback('/home')"></div>
</div>