<div class="side-panel">
    <div class="content">
        <header class="side-panel-header">
            <div class="overlay-panel overlay-background">
                <div class="side-panel-actions btn-group btn-group-flat" aria-label="actions" role="group">
                    <button type="button" class="btn btn-pure btn-inverse icon md-chevron-left" aria-hidden="true"></button>
                    <button type="button" class="btn btn-pure btn-inverse icon md-chevron-right" aria-hidden="true"></button>
                    <button type="button" class="btn btn-pure btn-inverse icon md-close" ui-sref="app.detail"
                            aria-hidden="true"></button>
                </div>
                <h4>The best TOEIC plan!!</h4>
            </div>
        </header>
        <div class="side-panel-inner">
            <div class="detail-photo" style="background-image: url('../assets/photos/placeholder.png');"></div>
            <section class="side-panel-inner-section">
                <div class="media-header">
                    <div class="tags">
                        Tags:
                        <span class="label label-danger">TOEIC</span>
                        <span class="label label-primary">English</span>
                    </div>
                    <div class="share">
                        Share:
                        <div class="btn-group btn-group-flat">
                            <button type="button" class="btn btn-icon btn-pure btn-default"><i class="icon bd-twitter" aria-hidden="true"></i></button>
                            <button type="button" class="btn btn-icon btn-pure btn-default"><i class="icon bd-facebook" aria-hidden="true"></i></button>
                            <button type="button" class="btn btn-icon btn-pure btn-default"><i class="icon bd-dribbble" aria-hidden="true"></i></button>
                        </div>
                    </div>
                </div>
                <div class="media-content">
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi id neque quam.
                        Aliquam sollicitudin venenatis ipsum ac feugiat. Vestibulum ullamcorper
                        sodales nisi nec condimentum. Mauris convallis mauris at pellentesque volutpat.
                        Phasellus at ultricies neque, quis malesuada augue. Donec eleifend condimentum
                        nisl eu consectetur. </p>
                </div>
            </section>
            <!-- for comments -->
            <section class="side-panel-inner-section">
                <div class="media-header">
                    <div class="pull-right">
                        <div class="time">3 minutes ago</div>
                    </div>
                    <a class="avatar margin-right-10">
                        <img src="../assets/portraits/2.jpg" alt="...">
                    </a>
                    <span class="name">Seevisual</span>
                </div>
                <div class="media-content">
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi id neque quam.
                        Aliquam sollicitudin venenatis ipsum ac feugiat. Vestibulum ullamcorper
                        sodales nisi nec condimentum. Mauris convallis mauris at pellentesque volutpat.
                        Phasellus at ultricies neque, quis malesuada augue. Donec eleifend condimentum
                        nisl eu consectetur. </p>
                </div>
            </section>
            <div class="side-panel-comment">
                <textarea class="maxlength-textarea form-control mb-sm margin-bottom-20" rows="4"></textarea>
                <button class="btn btn-primary" type="button">Reply</button>
            </div>
        </div>
    </div>
    <div class="background" ng-click="goback('/detail')"></div>
</div>