<div class="container" ng-controller="HomeController">
    <div class="page-header">
        <ol class="breadcrumb">
            <li><a ui-sref="../index.html">Home</a></li>
        </ol>
        <h1 class="page-title">Gallery</h1>
        <div class="page-header-actions">
            <a class="btn btn-sm btn-primary btn-round waves-effect waves-light waves-round" href="https://github.com/metafizzy/isotope" target="_blank">
                <i class="icon md-link" aria-hidden="true"></i>
                <span class="hidden-xs">Official Website</span>
            </a>
        </div>
        <ul class="nav nav-tabs nav-tabs-line" role="tablist" data-plugin="nav-tabs">
            <li class="active" role="presentation">
                <a href="#exampleList" aria-controls="exampleList" aria-expanded="true" role="tab" data-toggle="tab" data-filter="*">All</a>
            </li>
            <li role="presentation">
                <a href="#exampleList" aria-expanded="false" role="tab" data-toggle="tab" data-filter="object">Object</a>
            </li>
            <li role="presentation">
                <a href="#exampleList" aria-expanded="false" role="tab" data-toggle="tab" data-filter="city">City</a>
            </li>
            <li role="presentation">
                <a href="#exampleList" aria-expanded="false" role="tab" data-toggle="tab" data-filter="animal">Animal</a>
            </li>
            <li class="nav-tabs-autoline" style="transition-duration: 0.5s, 1s; transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1), cubic-bezier(0.4, 0, 0.2, 1); left: 0px; width: 59px;"></li></ul>
    </div>
    <div class="page-header">
        <h2>가장 인기있는 Plan!
            <span>
                    <a ui-sref="app.more">
                        <button type="button" class="btn btn-sm btn-primary">
                            더 보기
                        </button>
                    </a>
                </span>
        </h2>
    </div>
    <div class="page-content">
        <ul class="blocks blocks-100 blocks-xlg-4 blocks-md-3 blocks-sm-2" data-plugin="masonry" style="position: relative;">
            <li class="masonry-item" style="width: 275px">
                <div class="widget widget-article widget-shadow">
                    <div class="widget-header cover">
                        <img class="cover-image" src="../assets/photos/placeholder.png" alt="...">
                    </div>
                    <div class="widget-body">
                        <h4 class="widget-title">열혈 C 30일 완성</h4>
                        <p class="widget-metas type-link">
                            By
                            <a href="javascript:void(0)">Nathan Watts</a>
                            <a href="javascript:void(0)">05, 2016</a>
                        </p>
                        <p>Dolemus late utriusque fore eveniet provincia spernat dissentiet.
                            Fit intemperantes.</p>
                        <div class="widget-body-footer">
                            <div class="widget-actions pull-right">
                                <a href="javascript:void(0)">
                                    <span>3</span> Comments</a>
                                <a href="javascript:void(0)">
                                    <i class="icon md-favorite" aria-hidden="true"></i>
                                    <span>108</span>
                                </a>
                            </div>

                        </div>
                    </div>
                </div>
            </li>
            <li class="masonry-item" style="width: 275px">
                <div class="widget widget-article widget-shadow">
                    <div class="widget-header cover">
                        <img class="cover-image" src="../assets/photos/placeholder.png" alt="...">
                    </div>
                    <div class="widget-body">
                        <h4 class="widget-title">Beatus Nature</h4>
                        <p class="widget-metas type-link">
                            By
                            <a href="javascript:void(0)">Heather Harper</a>
                            <a href="javascript:void(0)">04, 2016</a>

                        </p>
                        <p>Antipatrum autem aegritudine, torquate seque etiam iucunditatem bello
                            multa feramus.</p>
                        <div class="widget-body-footer">
                            <div class="widget-actions pull-right">
                                <a href="javascript:void(0)">
                                    <span>2</span> Comments</a>
                                <a href="javascript:void(0)">
                                    <i class="icon md-favorite" aria-hidden="true"></i>
                                    <span>120</span>
                                </a>
                            </div>

                        </div>
                    </div>
                </div>
            </li>

            <li class="masonry-item" style="width: 275px">
                <div class="widget widget-article widget-shadow">
                    <div class="widget-header cover">
                        <img class="cover-image" src="../assets/photos/placeholder.png" alt="...">
                    </div>
                    <div class="widget-body">
                        <h4 class="widget-title">Restincto Multi</h4>
                        <p class="widget-metas type-link">
                            By
                            <a href="javascript:void(0)">Edward Fletcher</a>
                            <a href="javascript:void(0)">05, 2016</a>

                        </p>
                        <p>Modice accuratius physicis supplicii divinum pariatur graviter horribiles
                            sunt, genus.</p>
                        <div class="widget-body-footer">
                            <div class="widget-actions pull-right">
                                <a href="javascript:void(0)">
                                    <span>2</span> Comments</a>
                                <a href="javascript:void(0)">
                                    <i class="icon md-favorite" aria-hidden="true"></i>
                                    <span>130</span>
                                </a>
                            </div>

                        </div>
                    </div>
                </div>
            </li>
            <li class="masonry-item" style="width: 275px">
                <div class="widget widget-article widget-shadow">
                    <div class="widget-header cover">
                        <img class="cover-image" src="../assets/photos/placeholder.png" alt="...">
                    </div>
                    <div class="widget-body">
                        <h4 class="widget-title">Contentam Sumus</h4>
                        <p class="widget-metas type-link">
                            By
                            <a href="javascript:void(0)">June Lane</a>
                            <a href="javascript:void(0)">05, 2016</a>

                        </p>
                        <p>Sit doctus adoptionem nudus voluptatem fugiendum assentior, copulationes
                            consedit poetis.</p>
                        <div class="widget-body-footer">
                            <div class="widget-actions pull-right">
                                <a href="javascript:void(0)">
                                    <span>2</span> Comments</a>
                                <a href="javascript:void(0)">
                                    <i class="icon md-favorite" aria-hidden="true"></i>
                                    <span>120</span>
                                </a>
                            </div>

                        </div>
                    </div>
                </div>
            </li>
        </ul>
    </div>
</div>
</div>
<div class="row">
    <div class="page-header">
        <h2>가장 평가가 좋은 Plan!
            <span>
                <button type="button" class="btn btn-sm btn-primary waves-effect waves-light" data-toggle="button" data-more="#exampleMoreless">
                    더 보기
                </button>
            </span>
        </h2>
    </div>
    <div class="page-content">
        <ul class="blocks blocks-100 blocks-xlg-4 blocks-md-3 blocks-sm-2" data-plugin="masonry" style="position: relative;">
            <li class="masonry-item" style="width: 275px">
                <div class="widget widget-article widget-shadow">
                    <div class="widget-header cover">
                        <img class="cover-image" src="../assets/photos/placeholder.png" alt="...">
                    </div>
                    <div class="widget-body">
                        <h4 class="widget-title">열혈 C 30일 완성</h4>
                        <p class="widget-metas type-link">
                            By
                            <a href="javascript:void(0)">Nathan Watts</a>
                            <a href="javascript:void(0)">05, 2016</a>
                        </p>
                        <p>Dolemus late utriusque fore eveniet provincia spernat dissentiet.
                            Fit intemperantes.</p>
                        <div class="widget-body-footer">
                            <div class="widget-actions pull-right">
                                <a href="javascript:void(0)">
                                    <span>3</span> Comments</a>
                                <a href="javascript:void(0)">
                                    <i class="icon md-favorite" aria-hidden="true"></i>
                                    <span>108</span>
                                </a>
                            </div>

                        </div>
                    </div>
                </div>
            </li>
            <li class="masonry-item" style="width: 275px">
                <div class="widget widget-article widget-shadow">
                    <div class="widget-header cover">
                        <img class="cover-image" src="../assets/photos/placeholder.png" alt="...">
                    </div>
                    <div class="widget-body">
                        <h4 class="widget-title">Beatus Nature</h4>
                        <p class="widget-metas type-link">
                            By
                            <a href="javascript:void(0)">Heather Harper</a>
                            <a href="javascript:void(0)">04, 2016</a>

                        </p>
                        <p>Antipatrum autem aegritudine, torquate seque etiam iucunditatem bello
                            multa feramus.</p>
                        <div class="widget-body-footer">
                            <div class="widget-actions pull-right">
                                <a href="javascript:void(0)">
                                    <span>2</span> Comments</a>
                                <a href="javascript:void(0)">
                                    <i class="icon md-favorite" aria-hidden="true"></i>
                                    <span>120</span>
                                </a>
                            </div>

                        </div>
                    </div>
                </div>
            </li>

            <li class="masonry-item" style="width: 275px">
                <div class="widget widget-article widget-shadow">
                    <div class="widget-header cover">
                        <img class="cover-image" src="../assets/photos/placeholder.png" alt="...">
                    </div>
                    <div class="widget-body">
                        <h4 class="widget-title">Restincto Multi</h4>
                        <p class="widget-metas type-link">
                            By
                            <a href="javascript:void(0)">Edward Fletcher</a>
                            <a href="javascript:void(0)">05, 2016</a>

                        </p>
                        <p>Modice accuratius physicis supplicii divinum pariatur graviter horribiles
                            sunt, genus.</p>
                        <div class="widget-body-footer">
                            <div class="widget-actions pull-right">
                                <a href="javascript:void(0)">
                                    <span>2</span> Comments</a>
                                <a href="javascript:void(0)">
                                    <i class="icon md-favorite" aria-hidden="true"></i>
                                    <span>130</span>
                                </a>
                            </div>

                        </div>
                    </div>
                </div>
            </li>
            <li class="masonry-item" style="width: 275px">
                <div class="widget widget-article widget-shadow">
                    <div class="widget-header cover">
                        <img class="cover-image" src="../assets/photos/placeholder.png" alt="...">
                    </div>
                    <div class="widget-body">
                        <h4 class="widget-title">Contentam Sumus</h4>
                        <p class="widget-metas type-link">
                            By
                            <a href="javascript:void(0)">June Lane</a>
                            <a href="javascript:void(0)">05, 2016</a>

                        </p>
                        <p>Sit doctus adoptionem nudus voluptatem fugiendum assentior, copulationes
                            consedit poetis.</p>
                        <div class="widget-body-footer">
                            <div class="widget-actions pull-right">
                                <a href="javascript:void(0)">
                                    <span>2</span> Comments</a>
                                <a href="javascript:void(0)">
                                    <i class="icon md-favorite" aria-hidden="true"></i>
                                    <span>120</span>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </li>
        </ul>
    </div>
</div>