<div class="container" ng-controller="HomeController">
    <div class="row">
        <div class="page-header">
            <h2>가장 인기있는 Plan!
                <span>
                    <a ui-sref="app.more">
                        <button type="button" class="btn btn-sm btn-primary">
                            더 보기
                        </button>
                    </a>
                </span>
            </h2>
        </div>
        <div class="page-content">
            <ul class="blocks blocks-100 blocks-xlg-4 blocks-md-3 blocks-sm-2" data-plugin="masonry" style="position: relative;">
                <li class="masonry-item" style="width: 275px" ng-repeat="plan in plans">
                    <div class="widget widget-article widget-shadow">
                        <div class="widget-header cover">
                            <a ui-sref="app.home.details({planId : plan._id})">
                                <img class="cover-image" src="../assets/photos/placeholder.png" alt="...">
                            </a>
                        </div>
                        <div class="widget-body">
                            <h4 class="widget-title">{{plan.title}}</h4>
                            <p class="widget-metas type-link">
                                By
                                <a href="javascript:void(0)">{{plan.postedBy.username}}</a>
                                <a href="javascript:void(0)">{{plan.createdAt|date:'yyyy. MM. dd'}}</a>
                            </p>
                            <p class="ellips">{{plan.description}}</p>
                            <div class="widget-body-footer">
                                <div class="widget-actions pull-right">
                                        <span>{{plan.commentsNum}}</span> Comments
                                        <i class="fa fa-star" aria-hidden="true"></i>
                                        <span>{{(plan.ratingsNum==0?0:plan.ratingsSum/plan.ratingsNum).toFixed(1)}} / 5.0</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </div>
    <div class="row">
        <div class="page-header">
            <h2>가장 평가가 좋은 Plan!
                <span>
                <button type="button" class="btn btn-sm btn-primary waves-effect waves-light" data-toggle="button" data-more="#exampleMoreless">
                    더 보기
                </button>
            </span>
            </h2>
        </div>
        <div class="page-content">
            <ul class="blocks blocks-100 blocks-xlg-4 blocks-md-3 blocks-sm-2" data-plugin="masonry" style="position: relative;">
                <li class="masonry-item" style="width: 275px" ng-repeat="plan in plans">
                    <div class="widget widget-article widget-shadow">
                        <div class="widget-header cover">
                            <a ui-sref="app.home.details({planId : plan._id})">
                                <img class="cover-image" src="../assets/photos/placeholder.png" alt="...">
                            </a>
                        </div>
                        <div class="widget-body">
                            <h4 class="widget-title">{{plan.title}}</h4>
                            <p class="widget-metas type-link">
                                By
                                <a href="javascript:void(0)">{{plan.postedBy.username}}</a>
                                <a href="javascript:void(0)">{{plan.createdAt|date:'yyyy. MM. dd'}}</a>
                            </p>
                            <p class="ellips">{{plan.description}}</p>
                            <div class="widget-body-footer">
                                <div class="widget-actions pull-right">
                                        <span>{{plan.commentsNum}}</span> Comments
                                        <i class="fa fa-star" aria-hidden="true"></i>
                                        <span>{{(plan.ratingsNum==0?0:plan.ratingsSum/plan.ratingsNum).toFixed(1)}} / 5.0</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </li>
            </ul>
            <div ui-view class="view-side-panel"></div>
        </div>
    </div>
</div> 
