<br><br>

        <div class="container row center-block">
            <div class="col-md-8">
                <div class="panel landing-panel">
                <div class="panel-body">
                    <h3 class="text-center">계획 직접 짜기 번거로우셨나요?</h3>
                    <img class="img-responsive center-block" src="" alt="image">
                    <p>Planbay는 세상의 모든 계획이 모여있는 공간입니다. 수 천개의 계획 중 필요에 맞는 계획을 받아서, 본인에게 맞게 수정한 후 간편하게 Wunderlist나 Google Calendar로 연동하세요. 할 일을 하나하나 입력해야 했던 번거로움은 이제 그만! Planbay와 함께하면 모든 계획이 쉬워집니다.</p>
                </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="panel landing-panel"  ng-controller="RegistrationController">
                <div class="panel-body">
                    <h3 class="text-center">지금 가입하세요!</h3>
                    <form name="registrationForm" ng-submit="doRegister()">
                        <div class="form-group form-material" ng-class="{'has-error': registrationForm.name.$error.required && !registrationForm.name.$pristine,
                                                                         'has-success': registrationForm.name.$valid && !registrationForm.name.$pristine}">
                            <label class="control-label" for="name">이름</label>
                            <input type="text" class="form-control" id="name" name="name" ng-model="registerForm.name" required placeholder="이름을 입력하세요">
                        </div>
                        <div class="form-group form-material" ng-class="{'has-error': registrationForm.username.$invalid && !registrationForm.username.$pristine,
                                                                         'has-success': registrationForm.username.$valid && !registrationForm.username.$pristine}">
                            <label class="control-label" for="username">이메일</label>
                            <input type="email" class="form-control" id="username" name="username" ng-model="registerForm.username" required placeholder="이메일을 입력하세요">
                        </div>
                        <div class="form-group form-material" ng-class="{'has-error': registrationForm.password.$invalid && !registrationForm.password.$pristine,
                                                                         'has-success': registrationForm.password.$valid && !registrationForm.password.$pristine}">
                            <label class="control-label" for="password">비밀번호</label>
                            <input type="password" class="form-control" id="password" name="password" ng-model="registerForm.password" ng-minlength="6" ng-pattern="re" placeholder="최소 6자리, 영문과 숫자 반드시 포함">
                        </div>
                        <div class="form-group form-material"
                                    ng-class="{'has-error': (registerForm.password != registerForm.confirmPassword) && !registrationForm.confirmPassword.$pristine,
                                               'has-success': (registerForm.password === registerForm.confirmPassword) && !registrationForm.confirmPassword.$pristine && registrationForm.password.$valid}">
                            <label class="control-label" for="confirmPassword">비밀번호 확인</label>
                            <input type="password" class="form-control" id="confirmPassword" name="confirmPassword" ng-model="registerForm.confirmPassword" placeholder="비밀번호를 다시 입력하세요">
                        </div>
                        <button type="submit" class="btn btn-warning btn-block" ng-disabled="registrationForm.$invalid"><b>가입하기</b></button>
                    </form>
                    <div><hr></div>
                    <div class="landing-button"> <button class="btn btn-primary btn-block"><b>Facebook 계정으로 가입하기</b></button> </div>
                    <div class="landing-button"> <button class="btn btn-default btn-block"><b>Google 계정으로 가입하기</b></button> </div>
                </div>
                </div>
            </div>
        </div>
    
<!--
        <div class="jumbotron">
            <div class="container row center-block">
                <h3 class="text-center">Planbay를 사용하는 기업</h3>
                <div class="col-md-2">
                    <img class="thumbnail" src="" alt="thumbnail">
                </div>
                <div class="col-md-2">
                    <img class="thumbnail" src="" alt="thumbnail">
                </div>
                <div class="col-md-2">
                    <img class="thumbnail" src="" alt="thumbnail">
                </div>
                <div class="col-md-2">
                    <img class="thumbnail" src="" alt="thumbnail">
                </div>
                <div class="col-md-2">
                    <img class="thumbnail" src="" alt="thumbnail">
                </div>
                <div class="col-md-2">
                    <img class="thumbnail" src="" alt="thumbnail">
                </div>
            </div>
        </div>

<br>
        
        <div class="container row center-block">
            <div class="col-md-6">
                <div class="panel">
                <div class="panel-body">
                    <h3 class="text-center">간편한 Planbay 사용법!</h3>
                    <p>1.</p>
                    <p>2.</p>
                    <p>3.</p>
                </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="panel">
                <div class="panel-body">
                    <h3 class="text-center">주요 기능 소개</h3>
                </div>
                </div>
            </div>    
        </div>
        
-->