<div class="container">
    <div class="row">
        <div class="page-header">
            <h2>모든 플랜 보기
            </h2>
        </div>
        <div class="page-content">
            <uib-tabset active="active">
                <uib-tab index="0" heading="다운로드 순" select="sortTap(0)"></uib-tab>
                <uib-tab index="1" heading="평점 순" select="sortTap(1)"></uib-tab>
                <uib-tab index="2" heading="최근 등록 순" select="sortTap(2)"></uib-tab>
            </uib-tabset>
            <ul class="blocks blocks-100 blocks-xlg-4 blocks-md-3 blocks-sm-2" data-plugin="masonry" style="position: relative;">
                <li class="masonry-item" style="width: 275px" ng-repeat="plan in plans">
                    <div class="widget widget-article widget-shadow">
                        <div class="widget-header cover">
                            <a ui-sref="app.more.details({planId : plan._id})">
                                <img class="cover-image" src="../assets/photos/placeholder.png" alt="...">
                            </a>
                        </div>
                        <div class="widget-body">
                            <h4 class="widget-title">{{plan.title}}</h4>
                            <p class="widget-metas type-link">
                                By
                                <a href="javascript:void(0)">{{plan.postedBy.name}}</a>
                                <a href="javascript:void(0)">{{plan.createdAt|date:'yyyy. MM. dd'}}</a>
                            </p>
                            <p class="ellips">{{plan.description}}</p>
                            <div class="widget-body-footer">
                                <div class="widget-actions pull-right">
                                        <span>{{plan.commentsNum}}</span> Comments
                                        <i class="fa fa-star" aria-hidden="true"></i>
                                        <span>{{plan.ratingsAvg.toFixed(1)}} / 5.0</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </li>
            </ul>
        <div class="paginate-center">
            <ul uib-pagination total-items="totalItems" ng-model="currentPage" max-size="maxSize" class="pagination-sm" items-per-page="8" boundary-link-numbers="true" ng-change="pageChanged()"></ul>
        </div>
    </div>
    <div ui-view class="view-side-panel"></div>
</div> 