<!-- Page -->

    <div class="page-header">
      <h1 class="page-title">My page</h1>
      <ol class="breadcrumb">
        <li><a href="index.html">Home</a></li>
        <li class="active">My page</li>
      </ol>
      
    </div>
    
    <div class="page-content container-fluid">
      <div class="row" data-plugin="matchHeight" data-by-row="true">
        
        <div class="col-lg-3 col-sm-6">
          <!-- Widget Linearea One-->
            
          <div class="widget widget-shadow" id="widgetLineareaOne">
            <div class="widget-content">
              <div class="padding-20 padding-top-20">
                <div class="clearfix">
                  <div class="grey-800 text-center padding-vertical-10">
                        <button type="button" class="btn-raised btn btn-info btn-floating">
                    <i class="icon md-account font-size-30"></i>                    
                         </button>
                      
                    </div>
                    
                   <div class="text-center margin-bottom-20 grey-700 font-size-24">
                 나의 정보
                </div>
                    
                    
                </div>
                
            
              </div>
            </div>
          </div>
          <!-- End Widget Linearea One -->
        </div>
      
          
        <div class="col-lg-3 col-sm-6">
          <!-- Widget Linearea Two -->
          <div class="widget widget-shadow" id="widgetLineareaTwo">
            <div class="widget-content">
              <div class="padding-20 padding-top-20">
                <div class="clearfix">
                  <div class="grey-800 text-center padding-vertical-10">
                      <a href="index.html#/myplan" class="btn btn-primary btn-lg active" role="button">
                      <!--<button type="button" class="btn-raised btn btn-info btn-floating">-->
                    <i class="icon md-calendar-note font-size-30"></i>
                      </a>
                  </div>
                </div>
                <div class="text-center margin-bottom-20 grey-700 font-size-24">
                    나의 계획
                </div>
              </div>
            </div>
          </div>
          <!-- End Widget Linearea Two -->
        </div>  
          
        </div>
         
        <div class="col-xlg-7">
          <!-- Widget User list -->
          <div class="widget" id="widgetUserList">
            <div class="widget-header cover overlay">
              <img class="cover-image height-200" src="../assets//examples/images/dashboard-header.jpg"
              alt="..." />
              <div class="overlay-panel vertical-align overlay-background">
                <div class="vertical-align-middle">
                  
                    <i class="icon md-account-circle font-size-50 white pull-left"></i>
                  
                  <div class="pull-right">
                    <div class="font-size-20">User name</div>
                    <p class="margin-bottom-20 text-nowrap">
                      <span class="text-break">usermail@gmail</span>
                    </p>
                    <div class="text-nowrap font-size-18">
                      <a href="" class="white margin-right-10">
                        <i class="icon bd-twitter"></i>
                      </a>
                      <a href="" class="white margin-right-10">
                        <i class="icon bd-facebook"></i>
                      </a>
                      <a href="" class="white">
                        <i class="icon bd-dribbble"></i>
                      </a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="widget-content padding-horizontal-20">
              <ul class="list-group list-group-full list-group-dividered">
                <li class="list-group-item">
                  <div class="media">
                    <div class="media-left">
                      <i class="icon bd-wordpress font-size-30 pull-left"></i>
                    </div>
                    <div class="media-body">
                      <h4 class="media-heading">Wunderlist 로 export중</h4>
                      
                    </div>
                  </div>
                </li>
                <li class="list-group-item">
                  <div class="media">
                    <div class="media-left">
                      <i class="icon bd-google-plus font-size-30 pull-left"></i>
                    </div>
                    <div class="media-body">
                      <h4 class="media-heading">Google Calender로 export중</h4>
                    </div>
                  </div>
                </li>
                <li class="list-group-item">
                  <div class="media">
                    <div class="media-left">
                      
                      </a>
                    </div>
                    <div class="media-body">
                      <h4 class="media-heading"></h4>
                      
                    </div>
                  </div>
                </li>
              </ul>
            
            
            <a href="index.html#/profile" class="btn btn-warning btn-lg active btn-floating" role="button">
                      <!--<button type="button" class="btn-raised btn btn-info btn-floating">-->
                    <i class="icon md-settings font-size-30"></i>
                      </a>
             
            </div>
          </div>
          <!-- End Widget User list -->
        </div> 
        


<div class="col-xlg-5">
          <!-- Panel Projects -->
          <div class="panel" id="projects">
            <div class="panel-heading">
              <h3 class="panel-title">개인 계획</h3>
            </div>
            <div class="table-responsive">
              <table class="table table-striped">
                <thead>
                  <tr>
                    <th class="width-50">
                          <span class="checkbox-custom checkbox-primary">
                            <input class="selectable-all" type="checkbox">
                            <label></label>
                          </span>
                        </th>
                      
                    <td>분류</td>
                    <td>계획</td>
                    <td>설명</td>
                    <td>수정 및 삭제</td>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td>
                          <span class="checkbox-custom checkbox-primary">
                            <input class="selectable-item" type="checkbox" id="row-619" value="619">
                            <label for="row-619"></label>
                          </span>
                    </td>
                      
                    <td>The sun climbing plan</td>
                    <td>
                      <span data-plugin="peityPie" data-skin="red">7/10</span>
                    </td>
                    <td>Jan 1, 2015</td>
                    <td>
                      <button type="button" class="btn btn-sm btn-icon btn-pure btn-default" data-toggle="tooltip"
                      data-original-title="Edit">
                        <i class="icon md-wrench" aria-hidden="true"></i>
                      </button>
                      <button type="button" class="btn btn-sm btn-icon btn-pure btn-default" data-toggle="tooltip"
                      data-original-title="Delete">
                        <i class="icon md-close" aria-hidden="true"></i>
                      </button>
                    </td>
                  </tr>
                  <tr>
                      <td>
                          <span class="checkbox-custom checkbox-primary">
                            <input class="selectable-item" type="checkbox" id="row-620" value="620">
                            <label for="row-620"></label>
                          </span>
                        </td>
                    <td>Lunar probe project</td>
                    <td>
                      <span data-plugin="peityPie" data-skin="blue">3/10</span>
                    </td>
                    <td>Feb 12, 2015</td>
                    <td>
                      <button type="button" class="btn btn-sm btn-icon btn-pure btn-default" data-toggle="tooltip"
                      data-original-title="Edit">
                        <i class="icon md-wrench" aria-hidden="true"></i>
                      </button>
                      <button type="button" class="btn btn-sm btn-icon btn-pure btn-default" data-toggle="tooltip"
                      data-original-title="Delete">
                        <i class="icon md-close" aria-hidden="true"></i>
                      </button>
                    </td>
                  </tr>
                  <tr>
                    <td>Dream successful plan</td>
                    <td>
                      <span data-plugin="peityPie" data-skin="green">9/10</span>
                    </td>
                    <td>Apr 9, 2015</td>
                    <td>
                      <button type="button" class="btn btn-sm btn-icon btn-pure btn-default" data-toggle="tooltip"
                      data-original-title="Edit">
                        <i class="icon md-wrench" aria-hidden="true"></i>
                      </button>
                      <button type="button" class="btn btn-sm btn-icon btn-pure btn-default" data-toggle="tooltip"
                      data-original-title="Delete">
                        <i class="icon md-close" aria-hidden="true"></i>
                      </button>
                    </td>
                  </tr>
                  <tr>
                    <td>Office automatization</td>
                    <td>
                      <span data-plugin="peityPie" data-skin="orange">5/10</span>
                    </td>
                    <td>May 15, 2015</td>
                    <td>
                      <button type="button" class="btn btn-sm btn-icon btn-pure btn-default" data-toggle="tooltip"
                      data-original-title="Edit">
                        <i class="icon md-wrench" aria-hidden="true"></i>
                      </button>
                      <button type="button" class="btn btn-sm btn-icon btn-pure btn-default" data-toggle="tooltip"
                      data-original-title="Delete">
                        <i class="icon md-close" aria-hidden="true"></i>
                      </button>
                    </td>
                  </tr>
                  <tr>
                    <td>Open strategy</td>
                    <td>
                      <span data-plugin="peityPie" data-skin="brown">2/10</span>
                    </td>
                    <td>Jun 2, 2015</td>
                    <td>
                      <button type="button" class="btn btn-sm btn-icon btn-pure btn-default" data-toggle="tooltip"
                      data-original-title="Edit">
                        <i class="icon md-wrench" aria-hidden="true"></i>
                      </button>
                      <button type="button" class="btn btn-sm btn-icon btn-pure btn-default" data-toggle="tooltip"
                      data-original-title="Delete">
                        <i class="icon md-close" aria-hidden="true"></i>
                      </button>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
          <!-- End Panel Projects -->
        </div>
        <div class="col-xlg-7">
          <!-- Panel Projects -->
          <div class="panel" id="projects">
            <div class="panel-heading">
              <h3 class="panel-title">공유 계획</h3>
            </div>
            <div class="table-responsive">
              <table class="table table-striped">
                <thead>
                  <tr>
                    <td>분류</td>
                    <td>계획</td>
                    <td>설명</td>
                    <td>수정 및 삭제</td>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td>The sun climbing plan</td>
                    <td>
                      <span data-plugin="peityPie" data-skin="red">7/10</span>
                    </td>
                    <td>Jan 1, 2015</td>
                    <td>
                      <button type="button" class="btn btn-sm btn-icon btn-pure btn-default" data-toggle="tooltip"
                      data-original-title="Edit">
                        <i class="icon md-wrench" aria-hidden="true"></i>
                      </button>
                      <button type="button" class="btn btn-sm btn-icon btn-pure btn-default" data-toggle="tooltip"
                      data-original-title="Delete">
                        <i class="icon md-close" aria-hidden="true"></i>
                      </button>
                    </td>
                  </tr>
                  <tr>
                    <td>Lunar probe project</td>
                    <td>
                      <span data-plugin="peityPie" data-skin="blue">3/10</span>
                    </td>
                    <td>Feb 12, 2015</td>
                    <td>
                      <button type="button" class="btn btn-sm btn-icon btn-pure btn-default" data-toggle="tooltip"
                      data-original-title="Edit">
                        <i class="icon md-wrench" aria-hidden="true"></i>
                      </button>
                      <button type="button" class="btn btn-sm btn-icon btn-pure btn-default" data-toggle="tooltip"
                      data-original-title="Delete">
                        <i class="icon md-close" aria-hidden="true"></i>
                      </button>
                    </td>
                  </tr>
                  <tr>
                    <td>Dream successful plan</td>
                    <td>
                      <span data-plugin="peityPie" data-skin="green">9/10</span>
                    </td>
                    <td>Apr 9, 2015</td>
                    <td>
                      <button type="button" class="btn btn-sm btn-icon btn-pure btn-default" data-toggle="tooltip"
                      data-original-title="Edit">
                        <i class="icon md-wrench" aria-hidden="true"></i>
                      </button>
                      <button type="button" class="btn btn-sm btn-icon btn-pure btn-default" data-toggle="tooltip"
                      data-original-title="Delete">
                        <i class="icon md-close" aria-hidden="true"></i>
                      </button>
                    </td>
                  </tr>
                  <tr>
                    <td>Office automatization</td>
                    <td>
                      <span data-plugin="peityPie" data-skin="orange">5/10</span>
                    </td>
                    <td>May 15, 2015</td>
                    <td>
                      <button type="button" class="btn btn-sm btn-icon btn-pure btn-default" data-toggle="tooltip"
                      data-original-title="Edit">
                        <i class="icon md-wrench" aria-hidden="true"></i>
                      </button>
                      <button type="button" class="btn btn-sm btn-icon btn-pure btn-default" data-toggle="tooltip"
                      data-original-title="Delete">
                        <i class="icon md-close" aria-hidden="true"></i>
                      </button>
                    </td>
                  </tr>
                  <tr>
                    <td>Open strategy</td>
                    <td>
                      <span data-plugin="peityPie" data-skin="brown">2/10</span>
                    </td>
                    <td>Jun 2, 2015</td>
                    <td>
                      <button type="button" class="btn btn-sm btn-icon btn-pure btn-default" data-toggle="tooltip"
                      data-original-title="Edit">
                        <i class="icon md-wrench" aria-hidden="true"></i>
                      </button>
                      <button type="button" class="btn btn-sm btn-icon btn-pure btn-default" data-toggle="tooltip"
                      data-original-title="Delete">
                        <i class="icon md-close" aria-hidden="true"></i>
                      </button>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
          <!-- End Panel Projects -->
        </div>

      </div>

          