<!-- Page -->

    <div class="page-header mypage-header">
      <div class="pull-left">
      <h1 class="page-title">My page</h1>
      <ol class="breadcrumb">
        <li><a href="index.html">Home</a></li>
        <li class="active">My page</li>
      </ol>
      </div>
            
      <a href="index.html#/profile" class="btn btn-warning btn-lg active pull-right" role="button">
        <i class="icon md-settings"></i>
      </a>
    </div>
    
    <div class="page-content container-fluid">
      <div class="row" data-plugin="matchHeight" data-by-row="true">
        
        </div>
        

      

<div class="col-xlg-5">
          <!-- Panel Projects -->
          <div class="panel" id="projects">
            <div class="panel-heading">
              <h3 class="panel-title">개인 계획</h3>
            </div>
            <div class="table-responsive">
              <table class="table table-striped">
                <thead>
                  <tr>
                    <th class="width-50">
                          <span class="checkbox-custom checkbox-primary">
                            <input class="selectable-all" type="checkbox">
                            <label></label>
                          </span>
                        </th>
                      
                    <td>분류</td>
                    <td>계획</td>
                    <td>설명</td>
                    <td>수정 및 삭제</td>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td>
                          <span class="checkbox-custom checkbox-primary">
                            <input class="selectable-item" type="checkbox" id="row-619" value="619">
                            <label for="row-619"></label>
                          </span>
                    </td>
                      
                    <td>The sun climbing plan</td>
                    <td>
                      <span data-plugin="peityPie" data-skin="red">7/10</span>
                    </td>
                    <td>Jan 1, 2015</td>
                    <td>
                      <button type="button" class="btn btn-sm btn-icon btn-pure btn-default" data-toggle="tooltip"
                      data-original-title="Edit">
                        <i class="icon md-wrench" aria-hidden="true"></i>
                      </button>
                      <button type="button" class="btn btn-sm btn-icon btn-pure btn-default" data-toggle="tooltip"
                      data-original-title="Delete">
                        <i class="icon md-close" aria-hidden="true"></i>
                      </button>
                    </td>
                  </tr>
                  <tr>
                      <td>
                          <span class="checkbox-custom checkbox-primary">
                            <input class="selectable-item" type="checkbox" id="row-620" value="620">
                            <label for="row-620"></label>
                          </span>
                        </td>
                    <td>Lunar probe project</td>
                    <td>
                      <span data-plugin="peityPie" data-skin="blue">3/10</span>
                    </td>
                    <td>Feb 12, 2015</td>
                    <td>
                      <button type="button" class="btn btn-sm btn-icon btn-pure btn-default" data-toggle="tooltip"
                      data-original-title="Edit">
                        <i class="icon md-wrench" aria-hidden="true"></i>
                      </button>
                      <button type="button" class="btn btn-sm btn-icon btn-pure btn-default" data-toggle="tooltip"
                      data-original-title="Delete">
                        <i class="icon md-close" aria-hidden="true"></i>
                      </button>
                    </td>
                  </tr>
                  <tr>
                    <td>Dream successful plan</td>
                    <td>
                      <span data-plugin="peityPie" data-skin="green">9/10</span>
                    </td>
                    <td>Apr 9, 2015</td>
                    <td>
                      <button type="button" class="btn btn-sm btn-icon btn-pure btn-default" data-toggle="tooltip"
                      data-original-title="Edit">
                        <i class="icon md-wrench" aria-hidden="true"></i>
                      </button>
                      <button type="button" class="btn btn-sm btn-icon btn-pure btn-default" data-toggle="tooltip"
                      data-original-title="Delete">
                        <i class="icon md-close" aria-hidden="true"></i>
                      </button>
                    </td>
                  </tr>
                  <tr>
                    <td>Office automatization</td>
                    <td>
                      <span data-plugin="peityPie" data-skin="orange">5/10</span>
                    </td>
                    <td>May 15, 2015</td>
                    <td>
                      <button type="button" class="btn btn-sm btn-icon btn-pure btn-default" data-toggle="tooltip"
                      data-original-title="Edit">
                        <i class="icon md-wrench" aria-hidden="true"></i>
                      </button>
                      <button type="button" class="btn btn-sm btn-icon btn-pure btn-default" data-toggle="tooltip"
                      data-original-title="Delete">
                        <i class="icon md-close" aria-hidden="true"></i>
                      </button>
                    </td>
                  </tr>
                  <tr>
                    <td>Open strategy</td>
                    <td>
                      <span data-plugin="peityPie" data-skin="brown">2/10</span>
                    </td>
                    <td>Jun 2, 2015</td>
                    <td>
                      <button type="button" class="btn btn-sm btn-icon btn-pure btn-default" data-toggle="tooltip"
                      data-original-title="Edit">
                        <i class="icon md-wrench" aria-hidden="true"></i>
                      </button>
                      <button type="button" class="btn btn-sm btn-icon btn-pure btn-default" data-toggle="tooltip"
                      data-original-title="Delete">
                        <i class="icon md-close" aria-hidden="true"></i>
                      </button>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
          <!-- End Panel Projects -->
        </div>
        <div class="col-xlg-7">
          <!-- Panel Projects -->
          <div class="panel" id="projects">
            <div class="panel-heading">
              <h3 class="panel-title">공유 계획</h3>
            </div>
            <div class="table-responsive">
              <table class="table table-striped">
                <thead>
                  <tr>
                    <td>분류</td>
                    <td>계획</td>
                    <td>설명</td>
                    <td>수정 및 삭제</td>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td>The sun climbing plan</td>
                    <td>
                      <span data-plugin="peityPie" data-skin="red">7/10</span>
                    </td>
                    <td>Jan 1, 2015</td>
                    <td>
                      <button type="button" class="btn btn-sm btn-icon btn-pure btn-default" data-toggle="tooltip"
                      data-original-title="Edit">
                        <i class="icon md-wrench" aria-hidden="true"></i>
                      </button>
                      <button type="button" class="btn btn-sm btn-icon btn-pure btn-default" data-toggle="tooltip"
                      data-original-title="Delete">
                        <i class="icon md-close" aria-hidden="true"></i>
                      </button>
                    </td>
                  </tr>
                  <tr>
                    <td>Lunar probe project</td>
                    <td>
                      <span data-plugin="peityPie" data-skin="blue">3/10</span>
                    </td>
                    <td>Feb 12, 2015</td>
                    <td>
                      <button type="button" class="btn btn-sm btn-icon btn-pure btn-default" data-toggle="tooltip"
                      data-original-title="Edit">
                        <i class="icon md-wrench" aria-hidden="true"></i>
                      </button>
                      <button type="button" class="btn btn-sm btn-icon btn-pure btn-default" data-toggle="tooltip"
                      data-original-title="Delete">
                        <i class="icon md-close" aria-hidden="true"></i>
                      </button>
                    </td>
                  </tr>
                  <tr>
                    <td>Dream successful plan</td>
                    <td>
                      <span data-plugin="peityPie" data-skin="green">9/10</span>
                    </td>
                    <td>Apr 9, 2015</td>
                    <td>
                      <button type="button" class="btn btn-sm btn-icon btn-pure btn-default" data-toggle="tooltip"
                      data-original-title="Edit">
                        <i class="icon md-wrench" aria-hidden="true"></i>
                      </button>
                      <button type="button" class="btn btn-sm btn-icon btn-pure btn-default" data-toggle="tooltip"
                      data-original-title="Delete">
                        <i class="icon md-close" aria-hidden="true"></i>
                      </button>
                    </td>
                  </tr>
                  <tr>
                    <td>Office automatization</td>
                    <td>
                      <span data-plugin="peityPie" data-skin="orange">5/10</span>
                    </td>
                    <td>May 15, 2015</td>
                    <td>
                      <button type="button" class="btn btn-sm btn-icon btn-pure btn-default" data-toggle="tooltip"
                      data-original-title="Edit">
                        <i class="icon md-wrench" aria-hidden="true"></i>
                      </button>
                      <button type="button" class="btn btn-sm btn-icon btn-pure btn-default" data-toggle="tooltip"
                      data-original-title="Delete">
                        <i class="icon md-close" aria-hidden="true"></i>
                      </button>
                    </td>
                  </tr>
                  <tr>
                    <td>Open strategy</td>
                    <td>
                      <span data-plugin="peityPie" data-skin="brown">2/10</span>
                    </td>
                    <td>Jun 2, 2015</td>
                    <td>
                      <button type="button" class="btn btn-sm btn-icon btn-pure btn-default" data-toggle="tooltip"
                      data-original-title="Edit">
                        <i class="icon md-wrench" aria-hidden="true"></i>
                      </button>
                      <button type="button" class="btn btn-sm btn-icon btn-pure btn-default" data-toggle="tooltip"
                      data-original-title="Delete">
                        <i class="icon md-close" aria-hidden="true"></i>
                      </button>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
          <!-- End Panel Projects -->
        </div>

      </div>

          