<div class="container" ng-controller="IndexController">
    <div class="row row-lg">
    <div class="col-lg-12">
        <!-- Example Media List With Button -->
        <div class="example-wrap margin-lg-2">
            <h4 class="example-title">Media List With Button</h4>
            <p>This object styles for building various types of components (like
                user profile) that feature a left- or right-aligned image alongside
                textual content.</p>
            <div class="example">
                <div class="media media-sm">
                    <div class="media-left">
                        <a class="avatar avatar-lg" href="javascript:void(0)">
                            <img src="../../assets/portraits/2.jpg" alt="...">
                        </a>
                    </div>
                    <div class="media-body">
                        <h4 class="media-heading">Media Heading</h4>
                        Bono delectus persius diceretur. Cyrenaicisque fortitudinis consuetudinum vitam
                        concupiscunt controversia neglegit, totus praestabiliorem
                        me, corrigere bonarum inter iisque numeranda allevatio.
                        <p class="margin-top-10">
                            <a class="btn btn-sm btn-warning" ng-href="#" role="button">Edit</a>
                            <a class="btn btn-sm btn-default btn-pure" href="javascript:void(0)" role="button">Cancel</a>
                        </p>
                    </div>
                </div>
                <div class="media media-sm">
                    <div class="media-left">
                        <a class="avatar avatar-lg" href="javascript:void(0)">
                            <img src="../../assets/portraits/3.jpg" alt="...">
                        </a>
                    </div>
                    <div class="media-body">
                        <h4 class="media-heading">Media Heading</h4>
                        Sententia minorem, vivere ferae corrumpit adhaesiones fecisse atomum poenis atomorum
                        novi ludus, veterum, modi habendus percipi sanciret operam.
                        Lictores corpus.
                        <p class="margin-top-10">
                            <a class="btn btn-sm btn-danger" href="javascript:void(0)" role="button">Confirm</a>
                            <a class="btn btn-sm btn-default btn-pure" href="javascript:void(0)" role="button">Cancel</a>
                        </p>
                    </div>
                </div>
                <div class="media media-sm">
                    <div class="media-left">
                        <a class="avatar avatar-lg" href="javascript:void(0)">
                            <img src="../../assets/portraits/4.jpg" alt="...">
                        </a>
                    </div>
                    <div class="media-body">
                        <h4 class="media-heading">Media Heading</h4>
                        Tuemur imperii pugnare regula calere dominorum falso erroribus, temporibus illustribus
                        eveniunt, sequitur disserunt compluribus studio concederetur
                        tractatas quosdam repugnantibus tractavissent.
                        <p class="margin-top-10">
                            <a class="btn btn-sm btn-primary" href="javascript:void(0)" role="button">Save</a>
                            <a class="btn btn-sm btn-default btn-pure" href="javascript:void(0)" role="button">Cancel</a>
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <!-- End Example Media List With Button -->
    </div>

</div>
    </div>
