<div class="page-content container-fluid">
    <div class="row">
        <div class="col-lg-12 col-md-12">
            <!-- Example Panel With Heading -->
            <a class="btn btn-primary" ng-click="toggle()">page-slide</a>
            <pageslide
                    ps-side="right"
                    ps-open="checked"
                    ps-class="panel"
                    ps-size="70%"
                    ps-zindex="1500">
                    <div ui-view="detail" class="page-slide"></div>
            </pageslide>
        </div>
            <!-- End Example Panel With Heading -->
    </div>
</div>
