<div class="page-content container-fluid" ng-controller="EditController">
    <div class="row">
        <div class="col-sm-offset-3 col-sm-6">
            <!-- Panel Static Labels -->
            <div class="panel">
                <div class="panel-heading">
                    <h3 class="panel-title">계획 작성</h3>
                </div>
                <div class="panel-body container-fluid">
                    <form autocomplete="off">
                        <div class="form-group form-material">
                            <label class="control-label" for="inputHint">제목</label>
                            <input type="text" class="form-control" id="inputHint" name="inputHint"><div class="hint">전체 계획의 이름을 지어주세요!</div>
                        </div>
                        <div class="form-group form-material">
                            <label class="control-label" for="textarea">설명</label>
                            <textarea class="form-control" id="textarea" name="textarea" rows="3"></textarea>
                        </div>
                        <div class="form-group form-material">
                            <label class="control-label" for="select">몇 일 짜리 계획인가요?</label>
                            <select class="form-control" id="select" ng-model="days">
                                <option>1</option>
                                <option>2</option>
                                <option>3</option>
                                <option>4</option>
                                <option>5</option>
                                <option>6</option>
                                <option>7</option>
                                <option>8</option>
                                <option>9</option>
                                <option>10</option>
                                <option>11</option>
                                <option>12</option>
                                <option>13</option>
                                <option>14</option>
                                <option>15</option>
                                <option>16</option>
                                <option>17</option>
                                <option>18</option>
                                <option>19</option>
                                <option>20</option>
                                <option>21</option>
                                <option>22</option>
                                <option>23</option>
                                <option>24</option>
                                <option>25</option>
                                <option>26</option>
                                <option>27</option>
                                <option>28</option>
                                <option>29</option>
                                <option>30</option>
                            </select>
                        </div>
                    </form>
                </div>
            </div>
            <!-- End Panel Static Labels -->
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12">
            <div class="page-header">

            </div>
            <div class="page-content">
                <ul class="blocks blocks-100 blocks-xlg-5 blocks-lg-3 blocks-md-3 blocks-sm-2" data-plugin="masonry" style="position: relative;">
                    <li class="masonry-item" ng-repeat="day in [] | range:days">
                        <div class="widget widget-article widget-shadow">
                            <div class="widget-body">
                                <h4 class="widget-title">Day {{day+1}}</h4>
                                <form class="form-inline" role="form" ng-repeat="task in plan[day].tasks">
                                    <div class="form-group form-material">
                                        <input type="text" ng-model="task.title" class="form-control" id="todo" name="todo"><div class="hint">할 일을 적어주세요</div>
                                    </div>
                                    <div class="form-group">
                                        <select class="form-control" id="time" ng-model="task.time">
                                            <option>0:30</option>
                                            <option>1:00</option>
                                            <option>1:30</option>
                                            <option>2:00</option>
                                        </select>
                                    </div>
                                    <div class="form-group form-material">
                                        <button type="button" ng-click="removeTask(day, task)" class="btn btn-icon btn-danger waves-effect waves-round waves-light">
                                            <i class="icon md-minus" aria-hidden="true"></i>
                                        </button>
                                    </div>
                                </form>
                                <div class="widget-body-footer">
                                    <button class="btn btn-info waves-effect waves-light" ng-click="addNewTask(day)">Add task</button>
                                </div>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>