<div class="panel">
	<div class="form-group">
		<label for="listSel">List Selection</label>
		<select class="form-control" ng-model="listID" id="listSel">
			<option ng-repeat="list in lists" ng-value="list.id">{{list.title}}</option>
		</select>
	</div>
	
	<div class="form-group">
	  	<label for="usr">Task Title</label>
  		<input type="text" class="form-control" id="usr" ng-model="taskTitle">	
	</div>
</div>
	<button ng-click="postTask()">Create task!</button>
</div>

<!--TODO: first day of the plan -->
<!--TODO: Due date setting -->
<!--TODO: Due date customizing -->
<div class="panel">
	<div class="form-group">
		<input type="date">		
	</div>
	<div class="form-group">
		<h4>계획을 실천할 요일을 선택하세요</h4>
		<label class="checkbox-inline"><input type="checkbox" ng-model="dueDate.Mon">월</label>
		<label class="checkbox-inline"><input type="checkbox" ng-model="dueDate.Tue">화</label>
		<label class="checkbox-inline"><input type="checkbox" ng-model="dueDate.Wed">수</label>
		<label class="checkbox-inline"><input type="checkbox" ng-model="dueDate.Thu">목</label>
		<label class="checkbox-inline"><input type="checkbox" ng-model="dueDate.Fri">금</label>
		<label class="checkbox-inline"><input type="checkbox" ng-model="dueDate.Sat">토</label>
		<label class="checkbox-inline"><input type="checkbox" ng-model="dueDate.Sun">일</label>
	</div>
</div>