/* Landing Page */

.jumbotron {
    background-color: #4caf50 !important;
}

.jumbotron h3 {
    color: #FFFFFF !important;
}

.landing-button {
    margin-top: 15px;
}

@media screen and (min-width:480px) {

    .landing-panel {
        height: 580px;
    }
    
}

.footer-distributed{
  background-color: #292c2f;
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
  box-sizing: border-box;
  width: 100%;
  text-align: left;
  font: bold 16px sans-serif;

  padding: 55px 50px;
  margin-top: 80px;
}

.footer-distributed .footer-left,
.footer-distributed .footer-center,
.footer-distributed .footer-right{
  display: inline-block;
  vertical-align: top;
}

/* Footer left */

.footer-distributed .footer-left{
  width: 40%;
}

/* The company logo */

.footer-distributed h3{
  color:  #ffffff;
  font: normal 36px 'Cookie', cursive;
  margin: 0;
}

.footer-distributed h3 span{
  color:  #5383d3;
}

/* Footer links */

.footer-distributed .footer-links{
  color:  #ffffff;
  margin: 20px 0 12px;
  padding: 0;
}

.footer-distributed .footer-links a{
  display:inline-block;
  line-height: 1.8;
  text-decoration: none;
  color:  inherit;
}

.footer-distributed .footer-company-name{
  color:  #8f9296;
  font-size: 14px;
  font-weight: normal;
  margin: 0;
}

/* Footer Center */

.footer-distributed .footer-center{
  width: 35%;
}

.footer-distributed .footer-center i{
  background-color:  #33383b;
  color: #ffffff;
  font-size: 25px;
  width: 38px;
  height: 38px;
  border-radius: 50%;
  text-align: center;
  line-height: 42px;
  margin: 10px 15px;
  vertical-align: middle;
}

.footer-distributed .footer-center i.fa-envelope{
  font-size: 17px;
  line-height: 38px;
}

.footer-distributed .footer-center p{
  display: inline-block;
  color: #ffffff;
  vertical-align: middle;
  margin:0;
}

.footer-distributed .footer-center p span{
  display:block;
  font-weight: normal;
  font-size:14px;
  line-height:2;
}

.footer-distributed .footer-center p a{
  color:  #5383d3;
  text-decoration: none;;
}


/* Footer Right */

.footer-distributed .footer-right{
  width: 20%;
}

.footer-distributed .footer-company-about{
  line-height: 20px;
  color:  #92999f;
  font-size: 13px;
  font-weight: normal;
  margin: 0;
}

.footer-distributed .footer-company-about span{
  display: block;
  color:  #ffffff;
  font-size: 14px;
  font-weight: bold;
  margin-bottom: 20px;
}

.footer-distributed .footer-icons{
  margin-top: 25px;
}

.footer-distributed .footer-icons a{
  display: inline-block;
  width: 35px;
  height: 35px;
  cursor: pointer;
  background-color:  #33383b;
  border-radius: 2px;

  font-size: 20px;
  color: #ffffff;
  text-align: center;
  line-height: 35px;

  margin-right: 3px;
  margin-bottom: 5px;
}

/* If you don't want the footer to be responsive, remove these media queries */

@media (max-width: 880px) {

  .footer-distributed{
    font: bold 14px sans-serif;
  }

  .footer-distributed .footer-left,
  .footer-distributed .footer-center,
  .footer-distributed .footer-right{
    display: block;
    width: 100%;
    margin-bottom: 40px;
    text-align: center;
  }

  .footer-distributed .footer-center i{
    margin-left: 0;
  }

}

.view-side-panel .side-panel {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1500;
}

.view-side-panel .content {
  position: absolute;
  z-index: 100;
  top: 0;
  right: 0;
  width: 80%;
  height: 100%;
  overflow: auto;
  background: #fff;
}
<<<<<<< HEAD
@media screen and (max-width:768px){
  .view-side-panel .content{
    width:100%;
  }
}
||||||| merged common ancestors

=======

@media screen and (max-width:767px) {
    .view-side-panel .content {
        width: 100%;
    }
}

>>>>>>> b85b67c859bcdc8a65cf1e21a48b5b27f6b9b5b6
.view-side-panel .background {
  background: #000;
  opacity: .8;
  width: 100%;
  height: 100%;
}
.ng-enter {
  transition: .5s;
}
.ng-leave {
   /* transition on enter and leave for .5s */
   transition: .5s;
 }

/* start 'enter' transition */
.ng-enter .side-panel .content {
  /* start with content 80% off the right of the page */
  right: -80%;
}

.ng-enter .side-panel .background {
  /* start with background opacity 0 (invisible) */
  opacity: 0;
}

/* end 'enter' transition */
.ng-enter-active .side-panel .content {
  /* transition the right position which
     slides the content into view */
  transition: right .5s;

  /* end with content aligned to the right of the page */
  right: 0;
}

.ng-enter-active .side-panel .background {
  /* transition the background opacity to fades it in */
  transition: opacity .5s;

  /* end with background opacity 0.8 to give the overlay effect */
  opacity: .8;
}


/* end 'leave' transition */
.ng-leave-active .side-panel .content {
  /* transition the right position which
     slides the content out of view */
  transition: right .5s;

  /* end transition with the content completely off the page */
  right: -100%;
}

.ng-leave-active .side-panel .background {
  /* transition the background opacity to fades it out */
  transition: opacity .5s;

  /* end with background opacity 0 to hide it */
  opacity: 0;
}

.side-panel-right,
.side-panel-left {
  top: 66px;
  bottom: 0;
  width: 700px;
}
@media (max-width: 1199px) {
  .side-panel-right,
  .side-panel-left {
    width: -webkit-calc(100% - 230px);
    width:         calc(100% - 230px);
  }
}
@media (max-width: 767px) {
  .side-panel-right,
  .side-panel-left {
    width: 100%;
  }
}
.side-panel-top,
.side-panel-bottom {
  width: 100%;
  height: 500px;
}
@media (max-width: 1199px) {
  .side-panel-top,
  .side-panel-bottom {
    top: 0;
    bottom: 0;
    height: auto;
  }
}
.side-panel-left {
  left: 0;
}
.side-panel-right {
  right: 0;
}
.side-panel-top {
  top: 0;
  left: 0;
}
.side-panel-bottom {
  bottom: 0;
  left: 0;
}
.side-panel .scrollable-container {
  height: 100%;
}
.side-panel-show {
  visibility: visible;
}
.side-panel-handler {
  position: absolute;
  top: 0;
  left: 0;
  width: 30px;
  height: 100%;
  cursor: e-resize;
  background-color: transparent;
}
.side-panel-loading {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  font-size: 0;
  text-align: center;
  visibility: hidden;
}
.side-panel-loading:before {
  display: inline-block;
  height: 100%;
  vertical-align: middle;
  content: "";
}
.side-panel-loading .loader {
  vertical-align: middle;
}
.side-panel-loading-show {
  visibility: visible;
}
.side-panel-scrollable {
  height: 100%;
}
.side-panel-header {
  position: relative;
  padding: 40px 30px;
  padding-right: 120px;
  color: #fff;
}
.side-panel-header h1 {
  margin: 0;
  font-size: 22px;
  line-height: 33px;
  color: #fff;
}
.side-panel-actions {
  float: right;
  min-height: 67px;
  margin: 0;
  margin-left: 15px;
  text-align: right;
  list-style: none;
}
.side-panel-actions .btn {
  line-height: 33px;
}
.side-panel-action {
  border: 1px solid transparent;
  border-radius: 3px;
  -webkit-transition: border .25s linear;
  -o-transition: border .25s linear;
  transition: border .25s linear;
}
.side-panel-action:last-child {
  margin-right: 0;
}
.side-panel-action.dropdown.open {
  border-color: #fff;
}
.side-panel-action .icon {
  cursor: pointer;
}
.side-panel-action .icon:hover {
  color: #ecf0f3;
}
.side-panel-action .dropdown-menu {
  right: 0;
  left: auto;
  margin-top: 10px;
}
.side-panel-action .dropdown-menu .icon {
  margin-right: 10px;
}
.side-panel-inner {
  padding: 0 30px;
}
.side-panel-inner-section {
  padding-top: 30px;
  padding-bottom: 30px;
  border-bottom: 1px solid #e0e0e0;
}
.side-panel-comment {
  position: relative;
  margin-top: 50px;
  margin-bottom: 50px;
}
.side-panel-comment textarea {
  margin-bottom: 5px;
}
.side-panel-comment .reply {
  position: absolute;
  top: 10px;
  left: 10px;
}

.detail-photo {
  position: relative;
  margin-top: 20px;
  padding: 20px;
  height: 300px;
}

.row .row-height-category{
  height: 40px;
}
.star-text-size{
  margin-left:3px;
  font-size:15px;
}
.page-slide {
          height: 100%;
          overflow: scroll;
}

.form-inline {
  margin-bottom:2px
}
